ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

img {
    display: inline-block;
    margin: auto;
    width: 100%;
}


div.polaroid {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
    display: block;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}


.floating_menu {
    display: inline-block;
    width: 70%;
    height: 25px;

}

.floating_login {

    width: 30%;
    float: right;
    height: 25px;

}

.slideshow{

    max-width:80%;
    text-align: center;
    vertical-align: middle;
    padding: 10px 20px;

}



