<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    <link rel="stylesheet" href="/static/css/style.css" />


 </head>


    <body class="{% block bodyclass %}{% endblock %}">

  <div style = "background-color: #b0e0e6;">
<p style="width: 100%; text-align: center; padding: 5px;">

    <span style="text-align: center; color:blue; padding:10px; font-size:24pt">HackMemphis</span>

</p> </div>


  	<div id="page">

        <header class="header header-page ">
			<div class="univ-header-bg clearfix">
	<div class="univ-header col-6 clearfix">

		<h1 class="sitename"><a class="logo" href="http://memphis.edu/">University of Memphis</a></h1>
        <h2 class="site-tagline">Off-Campus Housing</h2>
    </div>
    </div>


        </header>


  {% block content %}

     <div id="content">

         {% block navigation %}
             <ul id="top">
                <li><a class="{% block home %}{% endblock %}" href="/">Home</a></li>
                <li><a class="{% block myaccount %}{% endblock %}" href="/profile/">My Account</a></li>
                {% if perms.staffing.add_staffrequest %}
                 <li><a class="{% block createsr %}{% endblock %}"
                  href="/create/staffrequest/">Staff Request</a></li>
                {% endif %}
             </ul>
         {% endblock %}

         {% block real_content %}
         <div id="intro">
             <p>Hello, {{ user.first_name }}.</p>
             <p>Please create a Staff Request here by filling out the form below.</p>
          </div> <!-- end intro -->

          <div id="logout">
           <a href="/accounts/logout" alt="Sign Off" title="Sign Off">Sign Off</a>
          </div>
          </div>
          {% endblock %}

     </div> <!-- end content -->


  {% endblock %}
  {% block footer %}{% endblock %}
 </body>
 </html>