{% extends "base.html" %}

{% block content %}


     <div>
             <ul>
                 <li><a class="{% block home %}{% endblock %}" href="/">Home</a></li>
                 <li><a class="{% block housing %}{% endblock %}" href="/housing/">Housing</a></li>
                 <li><a class="{% block roommate %}{% endblock %}" href="/roommate/">Roommate</a></li>
                 <li><a class="{% block carpool %}{% endblock %}" href="/carpool/">Carpool</a></li>
                 <li><a class="{% block studygroup %}{% endblock %}" href="/studygroup/">Study Group</a></li>
                 <li><a class="{% block contact %}{% endblock %}" href="/contact/">Contact us</a></li>
                 <li><a class="{% block login %}{% endblock %}" href="/login/">Log in</a></li>


             </ul>

     </div>

  <div class="polaroid">
      <img src="static/image/plaza1.jpg" style="width:304px;height:228px;">
  <div class="container">
    <p>The Troll's tongue in Hardanger, Norway</p>
  </div>
  </div>

  <div class="polaroid">
      <img src="static/image/plaza1.jpg" style="width:304px;height:228px;">

  <div class="container">
    <p>Northern Lights in Norway</p>
  </div>
</div>

 <div class="polaroid">
      <img src="static/image/plaza1.jpg" style="width:304px;height:228px;">
  <div class="container">
    <p>The Troll's tongue in Hardanger, Norway</p>
  </div>
  </div>

  <div class="polaroid">
      <img src="static/image/plaza1.jpg" style="width:304px;height:228px;">

  <div class="container">
    <p>Northern Lights in Norway</p>
  </div>
</div>



{% endblock %}







